

.pa_kanban_report {
    display: inline-block;
    border: 1px dotted gray;
    margin: 20px; /* adjust as needed */
}

.pa_kanban_report img {
    vertical-align: top;
    width: 300px;
    height: 200px;
}


.pa_kanban_report figcaption {
    text-align: center;
}